@import "../../../../css/modules/user/pheix-feedback.css?0.8.115" screen;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

BODY {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}

.c51-top-nav {
    background-image: url('../images/top.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    background-color: #fff;
}

.c51-top-nav-container {
    vertical-align: bottom;
    text-align: right;
}

.c51-top-nav-menu {
    display: inline-block;
    background-color: rgba(0, 71, 255, 1);
    color: #fff;
}

.c51-top-nav-menu A, .c51-top-nav-menu A:visited {
    color: #fff;
    font-weight: bold;
}

.c51-font-sz-1-2 {
    font-size: 1.2em;
}

.c51-path-font {
    color: #1c6294;
}

.c51-width-40 {
    width: 40%;
}

.c51-width-30 {
    width: 30%;
}

.c51-bottom-socials {
    position: absolute !important;
    width: 100%;
}

@media(min-width:110px) { .c51-bottom-socials { top: 20px; } }
@media(min-width:200px) { .c51-bottom-socials { top: 25px; } }
@media(min-width:300px) { .c51-bottom-socials { top: 40px; } }
@media(min-width:360px) { .c51-bottom-socials { top: 45px; } }
@media(min-width:390px) { .c51-bottom-socials { top: 50px; } }
@media(min-width:420px) { .c51-bottom-socials { top: 55px; } }
@media(min-width:460px) { .c51-bottom-socials { top: 60px; } }
@media(min-width:530px) { .c51-bottom-socials { top: 65px; } }
@media(min-width:640px) { }
@media(min-width:768px) {
    .c51-top-nav, .c51-top-nav-container { height: 164px; }
    .c51-bottom-socials { top: 85px; }
}
@media(min-width:992px) {
    .c51-top-nav, .c51-top-nav-container { height: 221px; }
    .c51-top-nav-menu { font-size: 16pt; margin-bottom: 10px; padding: 5px 20px; }
    .c51-bottom-socials { top: 115px; }
}
@media( min-width:1200px) {
    .c51-top-nav, .c51-top-nav-container { height: 264px; }
    .c51-bottom-socials { top: 135px; }
}
